@import "cssreset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');
@import "top-section.css";
@import "services-section.css";
@import "portfolio-section.css";
@import "experience-section.css";
@import "blog-section.css";
@import "testimonials-section.css";
@import "footer-section.css";
body {
    background: #FFF
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/*Tablets*/

@media only screen and (max-width: 960px) {
    container {
        width: 100%;
    }
    header .logo {
        padding: 0 0 0 15px;
    }
    header .header-menu {
        padding: 0 15px 0 0;
    }
}


/*Mobiles + Phones*/

@media only screen and (max-width: 767px) {
    header .header-menu {
        display: none;
    }
    header .logo {
        margin: 0 auto;
    }
    header .menu-btn {
        display: flex;
        font-size: 1.8rem;
    }
}