#top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0;
    align-items: center;
}

#top .info {
    padding: 15px;
    position: relative;
}

#top .info h1 {
    position: relative;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    margin-bottom: .25rem;
    z-index: 1;
}

#top .info p {
    position: relative;
    color: #919191;
    text-transform: capitalize;
    margin-bottom: 4rem;
    z-index: 1;
}

#top .info a {
    position: relative;
    color: #919191;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    z-index: 1;
}

#top .image .background-img {
    background: url('../images/mylesprofilemin.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 820px;
    margin: 0 auto;
}


/* Tablets */

@media only screen and (max-width: 960px) {
    #top .container {
        padding: 0;
        grid-template-columns: 0% 1fr;
    }
    #top .info .blue-square {
        display: none;
    }
    #top .info h1 {
        font-size: 1.8rem;
    }
    #top .info h1 {
        position: relative;
        top: -80px;
        font-size: 1.75rem;
        line-height: 1.2;
        color: white;
    }
    #top .info p {
        position: relative;
        top: -80px;
        color: blanchedalmond;
        text-transform: capitalize;
        margin-bottom: 4rem;
        z-index: 1;
    }
    #top .info a {
        position: relative;
        top: -20px;
        color: white;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 700;
        text-decoration: none;
        padding-bottom: 1.5px;
        border-bottom: 2px solid black;
        z-index: 1;
        line-height: 1.5;
    }
}


/* Mobiles */

@media only screen and (max-width: 767px) {
    #top .container {
        padding: 0;
        grid-template-columns: 0 1fr;
    }
    #top .info .blue-square {
        display: none;
    }
    #top .info h1 {
        position: relative;
        top: -80px;
        font-size: 1.75rem;
        line-height: 1.2;
        color: white;
    }
    #top .info p {
        position: relative;
        top: -60px;
        color: blanchedalmond;
        text-transform: capitalize;
        margin-bottom: 4rem;
        z-index: 1;
    }
    #top .info a {
        position: relative;
        top: -40px;
        color: black;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 700;
        text-decoration: none;
        padding-bottom: 1.5px;
        border-bottom: 2px solid black;
        z-index: 1;
        line-height: 1.5;
    }
}